.gallery-text{
    text-align: center;
    margin-top: 70px;
}

.gallery-text p{
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 12px;
   
    
}

.gallery-text h2{
    font-weight: bolder;
    font-size: 25px;
}

.gallery-img{
    width: 250px;
    height: 250px;
}

.gallery-grid{
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 20px;
    grid-column-gap: 60px;
    margin-left: 80px ;
    margin-top: 50px;
    height: 570px;
}
   



@media (max-width:1300px){
    .gallery-text{
        text-align: center;
        margin-top: 70px;
    }
    
    .gallery-text p{
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 12px;
       
        
    }
    
    .gallery-text h2{
        font-weight: bolder;
        font-size: 25px;
    }
    
    .gallery-img{
        width: 230px;
        height: 230px;
    }
    
    .gallery-grid{
        width: 60%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-row-gap: 20px;
        grid-column-gap: 60px;
        margin-left: 80px ;
        margin-top: 50px;
        /* height: 550px; */
    }
       
    
    
}

@media (max-width:1200px){
    .gallery-text{
        text-align: center;
        margin-top: 70px;
    }
    
    .gallery-text p{
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 12px;
       
        
    }
    
    .gallery-text h2{
        font-weight: bolder;
        font-size: 25px;
    }
    
    .gallery-img{
        width: 230px;
        height: 230px;
    }
    
    .gallery-grid{
        width: 60%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-row-gap: 20px;
        grid-column-gap: 40px;
        margin-left: 70px ;
        margin-top: 50px;
        /* height: 550px; */
    }
       
    
    
}

@media (max-width:1000px){
    .gallery-text{
        text-align: center;
        margin-top: 70px;
    }
    
    .gallery-text p{
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 12px;
       
        
    }
    
    .gallery-text h2{
        font-weight: bolder;
        font-size: 25px;
    }
    
    .gallery-img{
        width: 200px;
        height: 200px;
    }
    
    .gallery-grid{
        width: 60%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        margin-left: 50px ;
        margin-top: 50px;
        /* height: 550px; */
    }
       
    
    
}

@media (max-width:991px){
    .gallery-text{
        text-align: center;
        margin-top: 70px;
    }
    
    .gallery-text p{
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 12px;
       
        
    }
    
    .gallery-text h2{
        font-weight: bolder;
        font-size: 25px;
    }
    
    .gallery-img{
        width: 250px;
        height: 250px;
    }
    
    .gallery-grid{
        width: 60%;
        display: grid;
        grid-template-columns: auto auto auto ;
        grid-row-gap: 40px;
        grid-column-gap: 20px;
        margin-left: 80px ;
        margin-top: 50px;
        height: 900px;
    }
       
    
    
}

@media (max-width:768px){
    .gallery-text{
        text-align: center;
        margin-top: 70px;
    }
    
    .gallery-text p{
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 12px;
       
        
    }
    
    .gallery-text h2{
        font-weight: bolder;
        font-size: 25px;
    }
    
    .gallery-img{
        width: 200px;
        height: 200px;
    }
    
    .gallery-grid{
        width: 60%;
        display: grid;
        grid-template-columns: auto auto auto ;
        grid-row-gap: 40px;
        grid-column-gap: 20px;
        margin-left: 50px ;
        margin-top: 50px;
        height: 850px;
    }
       
    
    
}

@media (max-width:600px){
    .gallery-text{
        text-align: center;
        margin-top: 70px;
    }
    
    .gallery-text p{
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 12px;
       
        
    }
    
    .gallery-text h2{
        font-weight: bolder;
        font-size: 25px;
    }
    
    .gallery-img{
        width: 200px;
        height: 200px;
    }
    
    .gallery-grid{
        width: 60%;
        display: grid;
        grid-template-columns: auto auto ;
        grid-row-gap: 40px;
        grid-column-gap: 30px;
        margin-left: 60px ;
        margin-top: 50px;
        /* height: 550px; */
    }
       
    
    
}

@media (max-width:500px){
    .gallery-text{
        text-align: center;
        margin-top: 70px;
    }
    
    .gallery-text p{
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 12px;
       
        
    }
    
    .gallery-text h2{
        font-weight: bolder;
        font-size: 25px;
    }
    
    .gallery-img{
        width: 150px;
        height: 150px;
    }
    
    .gallery-grid{
        width: 60%;
        display: grid;
        grid-template-columns: auto auto ;
        grid-row-gap: 40px;
        grid-column-gap: 30px;
        margin-left: 40px ;
        margin-top: 50px;
        /* height: 550px; */
    }
       
    
    
}

@media (max-width:450px){
    .gallery-text{
        text-align: center;
        margin-top: 70px;
    }
    
    .gallery-text p{
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 12px;
       
        
    }
    
    .gallery-text h2{
        font-weight: bolder;
        font-size: 25px;
    }
    
    .gallery-img{
        width: 150px;
        height: 150px;
    }
    
    .gallery-grid{
        width: 60%;
        display: grid;
        grid-template-columns: auto auto ;
        grid-row-gap: 40px;
        grid-column-gap: 30px;
        margin-left: 40px ;
        margin-top: 50px;
        /* height: 550px; */
    }
       
    
    
}