.men h5{
    margin-top: 100px!important;
    font-size: 12px;
    font-weight: lighter;
}

.general{
    background-color: #f1f1f1;
    margin-top: -50px;
    height: 750px;
}

.men h1{
    font-size: 20px;
    font-weight: bolder;
}

.smiling{
    width: 550px;
}


.director h3{
    margin-top: 40px;
}


.director p{
    /* overflow: -moz-hidden-unscrollable; */
    font-size: 12px;
    font-weight: lighter;
}



@media(max-width:1200px){
    .men h5{
        margin-top: 100px!important;
        font-size: 12px;
        font-weight: lighter;
    }
    
    .men h1{
        font-size: 20px;
        font-weight: bolder;
    }
    
    .smiling{
        width: 500px;
    }
    
    
    .director h3{
        margin-top: 40px;
    }
    
    
    .director p{
        /* overflow: -moz-hidden-unscrollable; */
        font-size: 12px;
        font-weight: lighter;
    }
    
    
}

@media(max-width:992px){
    .men h5{
        margin-top: 100px!important;
        font-size: 12px;
        font-weight: lighter;
    }
    
    .men h1{
        font-size: 20px;
        font-weight: bolder;
    }
    
    .smiling{
        width: 400px;
        /* float: left; */
       
        height: 400px;
    }
    
    
    .director h3{
        margin-top: 40px;
    }
    
    
    .director p{
        overflow-wrap: break-word;
        /* overflow: -moz-hidden-unscrollable; */
        font-size: 12px;
        font-weight: lighter;
    }
    
    
}

@media(max-width:768px){
    .men h5{
        margin-top: 100px!important;
        font-size: 12px;
        font-weight: lighter;
    }
    
    .men h1{
        font-size: 20px;
        font-weight: bolder;
    }
    
    .smiling{
        width: 500px;
        /* float: left; */
        margin-left: 50px;
       
        /* height: 300px; */
    }
    
    
    .director h3{
        margin-top: 40px;
    }
    
    
    .director p{
        overflow-wrap: break-word;
        /* overflow: -moz-hidden-unscrollable; */
        font-size: 12px;
        font-weight: lighter;
    }


    .general{
        height: 1000px;
    }
    
    
}

@media(max-width:576px){
    .men h5{
        margin-top: 100px!important;
        font-size: 12px;
        font-weight: lighter;
        margin-left: 30px;
    }
    
    .men h1{
        font-size: 20px;
        font-weight: bolder;
        margin-left: 30px;
    }
    
    .smiling{
        width: 300px;
        /* float: left; */
        height: 300px;
        margin-left: 50px;
       
        /* height: 300px; */
    }
    
    
    .director h3{
        margin-top: 40px;
    }
    
    
    .director p{
        overflow-wrap: break-word;
        /* overflow: -moz-hidden-unscrollable; */
        font-size: 12px;
        font-weight: lighter;
    }


    .general{
        height: 1200px;
    }
    
    
}

@media(max-width:450px){
    .men h5{
        margin-top: 100px!important;
        font-size: 12px;
        font-weight: lighter;
        margin-left: 30px;
    }
    
    .men h1{
        font-size: 20px;
        font-weight: bolder;
        margin-left: 30px;
    }
    
    .smiling{
        width: 300px;
        /* float: left; */
        height: 300px;
        margin-left:10px;
       
        /* height: 300px; */
    }
    
    
    .director h3{
        margin-top: 40px;
    }
    
    
    .director p{
        overflow-wrap: break-word;
        /* overflow: -moz-hidden-unscrollable; */
        font-size: 17px;
        font-weight: lighter;
    }


    .general{
        height: 1200px;
    }
    
    
}