
  .footer{
    background-color:#000208;
    color: #ffffff;
    height: 600px;
}


.copy{
   margin-left: 250px!important;
   color: grey!important;
     margin-top: 70px;
     font-size: 12px;
   
}


.foot-img{
   width: 200px;
   height: 50px;
}

.grid{
 display: grid!important;grid-template-columns: 1fr 1fr 1fr !important;
 /* margin-left: 00px; */
 margin-top: 50px!important;
}

.grid .line{
 visibility: hidden;
} 


/* .grid .about{
 margin-left: 100px;
 padding-left: 10px;
}
.grid .links{
 margin-left: 200px;
} */


.para{
   font-size: 12px;
   font-weight: lighter;
   margin-top: 20px;
}



.las{
   width: 400px!important;
}





.las a{
 margin-top: 30px;
 
 color: #ffffff;
 text-decoration: none;
 font-size: 13px;
 text-transform: lowercase;
}

.las a i{
 padding-top: 15px;
 padding-right: 10px;
}


.links{
 width: 300px;
 
}
.links a{
 display: block;
 text-transform: capitalize;
  
 color: #ffffff;
 text-decoration: none;
 font-size: 13px;
 padding-bottom: 20px;
 font-weight: lighter;
 
}



.about{
 width: 300px;
}
.about a{
 display: block;
  
 color: #ffffff;
 text-decoration: none;
 font-size: 13px;
 padding-bottom: 20px;
 font-weight: lighter;
 
}




.footer-vector .pol1{
 width: 300px;
 margin-top: -173px;
 margin-left: 360px;
}


@media(max-width:1200px){

 .footer-vector .pol1{
     width: 300px;
     margin-top: -173px;
     margin-left: 278px;
     /* display: none; */
 }


 .copy{
     margin-left: 240px!important;
     color: grey!important;
       margin-top: 70px;
       font-size: 12px;
     
 }

}



@media(max-width:1024px){

 .footer-vector .pol1{
     width: 300px;
     margin-top: -133px;
     margin-left: 195px;
     overflow: hidden;
     /* display: none; */
 }



@media(max-width:992px){

 .footer-vector .pol1{
     width: 300px;
     margin-top: -181px;
     margin-left: 179px;
     overflow: hidden;
     /* display: none; */
 }


 .copy{
     margin-left: 120px!important;
     color: grey!important;
       margin-top: 80px;
       font-size: 12px;
     
 }


 
.footer{
 background-color:#000208;
 color: #ffffff;
 height: 570px;
}



.las{
 width: 300px!important;
 margin-left: 200px;
}

.about{
 width: 200px;
 margin-left: -60px!important;
}


.links{
 margin-left: 100px;
}

}










@media(max-width:768px){

 .footer-vector .pol1{
     width: 300px;
     margin-top: -133px;
     margin-left: -51px;
     overflow: hidden;
     display: none;
 }


 .copy{
     margin-left: 100px!important;
     color: grey!important;
       margin-top: 80px;
       font-size: 12px;
     
 }


 
.footer{
 background-color:#000208;
 color: #ffffff;
 height: 800px;
}



.las{
 width: 500px!important;
 margin-left: 0px;
}

.foot-img{
 width: 200px;
 height: 50px;
 margin-left: 200px;
}


.para{
 font-size: 12px;
 font-weight: lighter;
 margin-top: 20px;
 margin-left: 50px;
}

.about{
 width: 200px;
 margin-left: -250px!important;
}


.links{
 margin-left: 100px;
}



.las a{
 margin-top: 30px;
 
 color: #ffffff;
 text-decoration: none;
 font-size: 13px;
 text-transform: lowercase;

}

.las a i{
 padding-top: 15px;
 padding-right: 10px;
 margin-left: 50px;
}


.grid .line{
 visibility: visible;
 margin-left:-150px;
} 


}











@media(max-width:576px){

 .footer-vector .pol1{
     width: 300px;
     margin-top: -133px;
     margin-left: 176px;
     overflow: hidden;
     display: none;
 }


 .copy{
     margin-left: 50px!important;
     color: grey!important;
       margin-top: 80px;
       font-size: 12px;
     
 }


 
.footer{
 background-color:#000208;
 color: #ffffff;
 height: 800px;
}



.las{
 width: 500px!important;
 margin-left: 0px;
}

.foot-img{
 width: 200px;
 height: 50px;
 margin-left: 150px;
}


.para{
 font-size: 12px;
 font-weight: lighter;
 margin-top: 20px;
 margin-left: 0px;
}

.about{
 width: 200px;
 margin-left: -250px!important;
}


.links{
 margin-left: 50px;
}



.las a{
 margin-top: 30px;
 
 color: #ffffff;
 text-decoration: none;
 font-size: 13px;
 text-transform: lowercase;

}

.las a i{
 padding-top: 15px;
 padding-right: 10px;
 margin-left: 0px;
}


.grid .line{
 visibility: visible;
 margin-left:-200px;
} 


}











@media(max-width:450px){

 .footer-vector .pol1{
     width: 300px;
     margin-top: -133px;
     margin-left: 176px;
     overflow: hidden;
     display: none;
 }


 .copy{
     margin-left: 50px!important;
     color: grey!important;
       margin-top: 80px;
       font-size: 12px;
     
 }


 
.footer{
 background-color:#000208;
 color: #ffffff;
 height: 900px;
 width: 100%;
 /* margin-left: 100px; */
}



.las{
 width: 500px!important;
 margin-left: 0px;
}

.foot-img{
 width: 200px;
 height: 50px;
 margin-left: -20px;
}


.para{
 font-size: 12px;
 font-weight: lighter;
 margin-top: 20px;
 margin-left: -20px;
 margin-right: 30px;
}

.about{
 width: 200px;
 margin-left: -200px!important;
}


.links{
 margin-left: 30px;
}



.las a{
 margin-top: 50px;
 
 color: #ffffff;
 text-decoration: none;
 font-size: 17px;
 text-transform: lowercase;

}
.links a{
 font-size: 17px;
}

.about a{
 font-size: 17px;
}

.las a i{
 padding-top: 20px;
 padding-right: 10px;
 margin-left: 0px;
}


.grid .line{
 visibility: visible;
 margin-left:-200px;
} 


}








}